<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <link rel="icon" type="image/ico" href="img/icon2.ico">
    <script src="https://kit.fontawesome.com/25b6da0530.js" crossorigin="anonymous"></script>
    <title>Servicios</title>
</head>
<body>
    <div class="wrapper">
        <header class="header-menu">
            <nav>
                <div class="conteiner-toggle">
                   <i id="toggle" class="fas fa-bars"></i>
                </div>
                <ul class="menu-bar" id="menu">

                    <li class="menu-bar__li"><a class="menu-bar__a" href="services.php">Servicio</a></li>
                    <li class="menu-bar__li"><a class="menu-bar__a" href="contact.html">Contacto</a></li>
                    <li class="menu-bar__li"><a href="index.html"><img class="spa__logo" src="img/logo-spa.png"
                                alt="logo"></a></li>
                    <li class="menu-bar__li"><a class="menu-bar__a" href="Login.html">Login</a></li>
                    <li class="menu-bar__li"><a class="menu-bar__a" href="register.html">Registrar</a></li>
                </ul>
            </nav>
        </header>

        <footer class="footer">
            <div class="container__icon">
                <a class="btn btn-outline-light btn-floating m-1"
                    href="https://www.facebook.com/profile.php?id=100070716856962" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>
            </div>

            <p class="text_descrition"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
                repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.</p>

            <section class="section__main">
                <acticle class="sectiion__main--cards">
                    <header class="section__main--cards__header">
                        <p class="text__title">SOBRE NOSOTROS</p>
                    </header>
                    <p class="text">Somos un spa termal,con 20 años de
                        experiencia en atención al público,
                        brindando a nuestros clientes, una
                        experiencia reconfortante.</p>
                </acticle>

                <acticle class="sectiion__main--cards">
                    <header class="section__main--cards__header">
                        <p class="text__title">HORARIOS</p>
                    </header>
                    <p class="text">Lunes a Domingos</p>
                    <p class="text">De 10 a 20 horas</p>
                    <p class="text">Vestaurios habilitados hasta las 20:30 horas</p>
                </acticle>

                <acticle class="sectiion__main--cards">
                    <header class="section__main--cards__header">
                        <p class="text__title"> CONTACTO</p>
                    </header>
                    <p><i class="fab fa-brands fa-whatsapp"></i> +598 09727237</p>
                    <p class="text"><i class="fas fa-home mr-3"></i> 18 de julion</p>
                </acticle>
            </section>
            <p class="paragraph__Copyright">© 2020 Copyright: www.spatermal.com</p>
        </footer>
    </div>
</body>
</html>
